# Методы и полезные функции

С помощью методов можно проверять определенные вещи в строке или в списке или изменять строку/список

## методы списков
o   .append() - добавить в КОНЕЦ списка

o   .count() - посчитать количество тех или иных элементов

o   .remove() - удалить

.index()

**функции**

o   sum() - сумма

o   max() - максимум 

o   min() - минимум

In [1]:
a = [1,2,3,4,4]
a.append(5)
a.remove(4)
a.count(4)

1

In [1]:
a = ['1', '2', '1']
a.index('1')

0

## методы строк

o .isdigit() - состоит ТОЛЬКО из чисел

o .isalpha(), .isalnum()  - состоит ТОЛЬКО из букв или из букв и чисел (без других символов!)

o .islower() .isupper() - только из ПРОПИСНЫХ или из ЗАГЛАВНЫХ

o .count() - количество определенных символов

o .replace(то что мы заменяем,на что мы заменяем) - заменить один символ на других 

o .endswith() - заканчивается на 

o .startswith() - начинается на 

o .strip() - избавиться от пробелов или других знаков слева и справа: lstrip()- только слева, rstrip() - только справа

o .lower() - сделать маленькими буквами 

o .upper() - сделать заглавными

.find() - индекс определенного символа в строке

In [4]:
a = 'мама'
a = a.upper()
a

'МАМА'

In [9]:
a = 'мама'
a.find('м')

0

In [10]:
a = a.replace('м', 'п')
a

'папа'

In [2]:
a = 'я люблю тебя'
a = a.replace(' ', '') # заменяем пробел в строке на пустоту (просто кавычки) и строка пишется слитно
a

'ялюблютебя'

In [8]:
a = '12b'
a.isalnum()

False

In [34]:
# со списками
spisok = ['a','a','b']
spisok.count('a')

2

In [35]:
a.append('v')

In [8]:
if spisok.count('a') ==  2:
    print('ok')

ok

In [41]:
family = ['папа', 'мама', 'сестра', 'сестра']
family.count('сестра')

2

In [6]:
# со строками 
a = ' 123 '
a = a.strip()
a

'123'

In [1]:
# со строками 
a = '!123!'
a = a.strip('!')
a

'123'

In [4]:
a.isdigit()

True

In [4]:
# пример использования метода в if
if a.isalnum():
    print('ok')

ok

In [20]:
# пример использования метода в if
if a.isalnum() == False:
    print('ok')

ok

In [21]:
if a.endswith('Sjnjkm'):
    print(ok)

In [7]:
# важный момент!!
a = [1,2,3,4]
max(a)

4

In [6]:
a = ['123','1','3','4']
max(a)

'4'

In [2]:
a = ['мама']
a[0] = 'a'
a

['a']

# MAP - как замена for

 
Крутая штука, с помощью которой можно использовать к одним данным действия других данных. При этом важно в некоторых случаях приводить все это дело к list.
 
List(map(int, input().split())
 
 map(int,s)

In [20]:
a = ['123','1','3','4']
int(a)

TypeError: int() argument must be a string, a bytes-like object or a number, not 'list'

In [8]:
# специальный map-тип данных
map(int,a)

In [29]:
# вводная задача. 
a = ['1','2','3']
a = list(map(int,a))
a

[1, 2, 3]

In [30]:
a = list(map(str,a))
a

['1', '2', '3']

In [ ]:
a = ['1', '2']

In [1]:
# вводная задача 2, если вводим
a = list(map(int, input().split()))
print(a)

1 2
[1, 2]

In [10]:
name = input().split()
name = list(map(int,name))

[1, 2]

# Сортировка

Можно пользоваться сортировкой. Она есть в списке, кортеже, множестве, словаре. Когда мы хотим вывести элементы по алфавиту или по возрастанию/убыванию

sorted(<название переменной>) - по алфавиту, по возрастанию 

sorted(<название переменной>, reverse=True) - против алфавита, по убыванию 

print(*sorted(a))

print(sorted(a, reverse = True))

a=sorted(a)

существует reverse=False (по возрастанию или по алфавиту), но мы этого не пишем, так как sorted делает это автоматически. если написать reverse=False ошибки не будет.

In [2]:
a = ('мама', 'папа')
sorted(a)

['мама', 'папа']

In [1]:
a = 'мама'
sorted(a)

['а', 'а', 'м', 'м']

# Задачи

Задача 1: В определенном списке есть строки. Вывести только те элементы, которые начинаются на "б"

In [2]:
a = ['козёл', 'баран', 'бывший', 'амёба']
for i in a:
    if i.startswith('б'):
        print(i)

баран
бывший

Задача 2. Реализуйте следующую программу:

Считывается список cities с названиями городов и заглавная буква letter (этот код уже написан для вас). Из списка в новый список будут добавлены только те названия городов, которые начинаются на введенную букву. В итоге нужно вывести список с нужными городами

In [ ]:
cities = input().split()
letter = input()
new = list() #[]
for i in cities:
    if i.startswith(letter):
        new.append(i)
print(new)

Задача 3: вывести только те слова из списка, в которых не менее 2 буквы а.

In [15]:
words = ['ананас', 'блокнот', 'анаконда', 'мама', 'апельсин', 'мандарин']
for i in words:
    if i.count('а') >= 2:
        print(i)

ананас
анаконда
мама
мандарин

**Задача 4**: В переменную animals считывается список названий животных (строки). 
В переменную new_animal считывается название животного. 
Проверьте, есть ли в animals животное new_animal: если такого животного нет, то добавьте его в конец списка.

In [ ]:
animals = input().split()
new_animal = input()
if new_animal not in animals:
    animals.append(new_animal)

Вводятся слова, пока не введется ноль. Добавьте в новый список только те слова, которые являются палиндромами (читаются слева направо одинаково)

In [ ]:
a = input()
new = []
while a != '0':
    if a.lower() == a[::-1].lower():
        new.append(a)
    a = input()
print(new)

In [ ]:
анна - анна

In [ ]:
кот - ток

Дан список names. Затем вводится строка name_to_find, если она есть в списке, нужно вывести количество - сколько раз эта строка встречалась в списке. В ином случае - вывести строку "такого имени нет"

In [ ]:
#Задание 11 с экзамена
names = input().split()
name_to_find = input()
if name_to_find in names:
    print(names.count(name_to_find))
else:
    print('такого имени нет')